body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f7f7f7;
}

.content {
  flex-grow: 10;
  display: flex;
}

main {
  flex-basis: 75%;
  padding: 1em;
}

aside {
  padding: 1em;
  flex-basis: 25%;
}

.titulo-asides {
  font-size: x-large;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  background-color: #1987546f;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  bottom: 0px;
}

.widget {
  padding: 0.5em;
}

.widget > div {
  border: solid;
  border-color: black;
  border-width: thin;
  padding-bottom: 0.5em;
}

.widget > div:first-of-type {
  height: 5%;
  display: flex;
  align-items: center;
}

.bar {
  color: aliceblue;
  padding: 1em;
}

form {
  padding: 0.5em 0.5em 0em 0.5em;
  display: flex;
  flex-direction: column;
}

form > p,
button {
  align-self: center;
  margin-bottom: 0.5em;
}

.hor-buttons {
  display: flex;
  justify-content: space-evenly;
}

.error-msg {
  color: red;
}
