header {
  background-color: #f7f7f7;
}

.content {
  display: flex;
}

main {
  flex-basis: 80%;
  padding: 1em;
}

aside {
  padding: 1em;
  flex-basis: 20%;
}

footer {
  background-color: #1987546f;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  bottom: 0px;
}

.widget {
  padding: 0.5em;
}

.widget > div {
  border: solid;
  border-color: black;
  border-width: thin;
}

.widget > div:first-of-type {
  height: 5%;
  display: flex;
  align-items: center;
}

.bar {
  color: aliceblue;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  width: 90%;
  margin: 0.5em;
}

form > button,
p {
  align-self: center;
}
