header{
  background-color: #F7F7F7;
}

.content {
  display: flex;
}

main {
  flex-basis: 80%;
  padding: 1em;
}

aside {
  padding: 1em;
  flex-basis: 20%;
}

footer {
  background-color: #1987546f;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.widget > div {
  border: solid;
  border-color: black;
  border-width: thin;
}

.bar {
  color: aliceblue;
  padding: 1em;
}
