<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Alba Casillas Rodríguez & Víctor Cabrita Gómez" />
    <meta name="viewport" content="width=device-width" /> <!-- Diseño adaptable -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/styles.css')}}" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <title>VACUNACIÓN ANDALUCÍA</title>
</head>

<body>
    <header>
        <img src="{{ asset('img/logo.jpeg')}}">
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success .bg-gradient">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form action="index.php" method="POST">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <button type="submit" class="btn btn-success" aria-current="page" name="inicio">Calendario de vacunación</button>
                        </li>

                        {% if rol_user == "Admin" %}

                            <li class="nav-item">
                                <button type="submit" class="btn btn-success" name="listado_user">Listado de Usuarios</button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="btn btn-success" name="listado_vac">Listado de Vacunas</button>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success" href="#">Visualizar Log</a>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="btn btn-success" name="peticiones">Peticiones</button>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success" href="#">Copias de Seguridad</a>
                            </li>

                        {% elseif rol_user == "Sanitario" or rol_user == "Paciente" %}
                            <li class="nav-item">
                                <button type="submit" class="btn btn-success" aria-current="page" name="inicio">Cartilla de Vacunación</button>
                            </li>

                            <li class="nav-item">
                                <button type="submit" class="btn btn-success" aria-current="page" name="inicio">Vacunas Pendientes</button>
                            </li>

                            {% if rol_user == "Sanitario" %}
                            
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-success" name="listado_user">Listado de Usuarios</button>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-success" name="peticiones">Peticiones</button>
                                </li>

                            {% endif %}

                        {% endif %}
                    </ul>
                </form>  
            </div>
        </div>
    </nav>
    <div class="content">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <aside>
            <section>
                    {% block login %}
                    {% endblock %}
            </section>

            <section class="widget">
                <div class="bar bg-success .bg-gradient">
                    <p class="titulo-asides">Estadísticas de uso</p>
                </div>
                <div>
                    <ul>
                        <li>
                            Vacunas administradas en los últimos 30 días: X
                        </li>
                        <li>
                            Usuarios del sistema: Y
                        </li>
                    </ul>
                </div>
            </section>
        </aside>

    </div>
    <footer class="text-center text-muted p-4">
        <span>© 2021 Copyright: Alba Casillas Rodríguez & Víctor Cabrita Gómez</span>
        <a class="text-reset fw-bold" href="#">Documentación del proyecto</a>
    </footer>
</body>

</html>