{% extends 'index_view.twig' %}

{% block content %}
    <div class="calendario">
        <!-- Aqui dentro va el calendario-->
        <h1>HOLA</h1>
    </div>
    <div>
        {% if rol_user == "Admin" %}
        <form action="index.php" method="POST">
            <button name="aniadir-vac-recomendada" class="form-button">Añadir Vacuna Recomendada</button> 
        </form>   
        {% endif %}
    </div>
{% endblock %}

{% block login %}
    <h2 class="w-hdos">¡BIENVENIDO/A {{nombre_user}}! </h2>
    <img height="150px" width="150px" src="data:image;base64,{{ image_user }}" />
    <div class="w-button-register">
        <form action="index.php" method="POST">
            {% if rol_user == "Admin" %} 
                <button name="regist" class="form-button">Registrar Usuario</button>
                <button name="regist-vac" class="form-button">Registrar Vacuna</button> 
            {% endif %}
            <button name="editar-me" class="form-button">Editar Perfil</button>
            <button name="log-out" class="form-button">Cerrar Sesión</button>
        </form>
    </div>
{% endblock %}