{% extends 'index_view.twig' %}

{% block content %}
    <div class="calendario">
        <!-- Aqui dentro va el calendario-->
        <h1>HOLA</h1>
    </div>
    <div>
        {% if rol_user == "Admin" %}
        <form action="index.php" method="POST">
            <button name="aniadir-vac-recomendada" class="form-button">Añadir Vacuna Recomendada</button> 
        </form>   
        {% endif %}
    </div>
{% endblock %}

{% block login %}
    <section class="widget">
        <div class="bg-success">
            {% if sexo_user == "Masculino" %}
                <p class="titulo-asides">¡Bienvenido {{nombre_user}}!</p>
            {% else %}
                <p class="titulo-asides">¡Bienvenida {{nombre_user}}!</p>
            {% endif %}
        </div>
        <div>
            <img class="profile-pic" height="150px" width="150px" src="data:image;base64,{{ image_user }}" />
            <form class="logged-buttons" action="index.php" method="POST">
                {% if rol_user == "Admin" %} 
                    <button name="regist" class="btn btn-success">Registrar Usuario</button>
                    <button name="regist-vac" class="btn btn-success">Registrar Vacuna</button> 
                {% endif %}
                <button name="editar-me" class="btn btn-success">Edita tu Perfil</button>
                <button name="log-out" class="btn btn-success">Cerrar Sesión</button>
            </form>
        </div>
    </section>
{% endblock %}