{% extends 'index_view.twig' %}

{% block content %}
{% endblock %}

{% block login %}
    <section class="widget">
        <div class="bar bg-success .bg-gradient">
            <span>Iniciar sesión</span>
        </div>
    
        <div>
            <form action="{{funciones('login.php')}}" method="POST">
                <input type="text" name="usr" placeholder="Usuario"/>
                <input type="password" name="psw" placeholder="Contraseña"/>
                <input type="hidden" name="logueado" value="True"/>
                <button class="form-button" type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </section>
    <section class="widget">
        <div class="bar bg-success .bg-gradient">
            <span>Registro</span>
        </div>
        <div>
            <form action='index.php' method="POST">
                <p>¿Aún no tienes cuenta?</p>
                <button class="form-button" name="registar-visitante" type="submit">Registrarse</button>
            </form>
        </div>
    </section>
{% endblock %}