{% extends 'index_view.twig' %}

{% block content %}
{% endblock %}

{% block login %}
    <section class="widget">
        <div class="bar bg-success .bg-gradient">
            <p class="titulo-asides">Iniciar sesión</p>
        </div>
    
        <div>
            <form action="index.php" method="POST">
                <div class="mb-2">
                    <input type="text" name="usr" class="form-control" placeholder="DNI" id="loginUserInput"/>
                </div>
                <div class="mb-2"> 
                    <input type="password" name="psw" class="form-control" placeholder="Contraseña" id="loginPassInput"/>
                </div>
                    <input type="hidden" name="logueado" value="True"/>
                    <div class="hor-buttons">
                        <button class="btn btn-success" name="boton-login-visitante" type="submit">Iniciar Sesión</button>
                    </div>
            </form>
        </div>
    </section>
    <section class="widget">
        <div class="bar bg-success .bg-gradient">
            <p class="titulo-asides">Registro</p>
        </div>
        <div>
            <form action='index.php' method="POST">
                <p>¿Aún no tienes cuenta?</p>
                <button class="btn btn-success" name="registrar-visitante" type="submit">Regístrate</button>
            </form>
        </div>
    </section>
{% endblock %}