{% extends 'index_view.twig' %}

{% block content %}
    <div class = "listado_vacunas">
        <form action="index.php" method="POST">
            {{lista_vacunas()}}
        </form>  
    </div>
{% endblock %}

{% block login %}
    <h2 class="w-hdos">¡BIENVENIDO/A {{nombre_user}}! </h2>
    <img height="150px" width="150px" src="data:image;base64,{{ image_user }}" />
    <div class="w-button-register">
        <form action="index.php" method="POST">
            {% if rol_user == "Admin" %} 
                <button name="regist" class="form-button">Registrar Usuario</button>
                <button name="regist-vac" class="form-button">Registrar Vacuna</button> 
            {% endif %}
            <button name="editar-me" class="form-button">Editar Perfil</button>
            <button name="log-out" class="form-button">Cerrar Sesión</button>
        </form>
    </div>
{% endblock %}