{% extends 'inicio_logueado.twig' %}

{% block content %}
    {% if n_pendientes > 0 %}
        <form action="index.php" method="POST" class="form-inline filtro-usuarios">
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" type="number" id="nMesesVacunas" placeholder="Vac. Futuras (Meses)" name="n_meses_vacunas">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success" name="nMeses">Aceptar</button>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" type="number" id="nVacunasSiguientes" placeholder="Vac. Futuras (Número)" name="n_vacunas_siguientes">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success" name="nVacunas">Aceptar</button>
            </div> 
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success" name="vacunasFuturas">Vacunas Futuras</button>
            </div> 
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success" name="vacunasPendientes">Vacunas Pendientes</button>
            </div> 
        </form>

        <table class="table">
            <thead class="table-success">
                <tr>
                    <th scope="col">Acrónimo</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <form action="index.php" method="POST">
                    {% for vacuna in lista_pendientes %}
                        <tr>
                            <td>{{vacuna.Acronimo}}</td>
                            <td>{{vacuna.Nombre}}</td>
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
    {% else %}
        <h2>No hay información disponible</h2>
    {% endif %}
{% endblock %}