{% extends 'inicio_logueado.twig' %}

{% block content %}  
    <table class="table">
        <thead class="table-success">
            <tr>
              <th scope="col">Acrónimo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <form action="index.php" method="POST">
                {% for vacuna in vacunas %}
                    <tr>
                        <td>{{vacuna.Acronimo}}</td>
                        <td>{{vacuna.Nombre}}</td>
                        <td><button class="btn btn-success" name="idEditarVac" value="{{vacuna.Acronimo}}"><i class="bi-brush"></i></button></td>
                        <td><button class="btn btn-danger" name="idBorrarVac" value="{{vacuna.ID}}"><i class="bi-trash"></button></td>
                    </tr>
                {% endfor %}
            </form>  
        </tbody>
    </table>
{% endblock %}