{% extends 'inicio_logueado.twig' %}

{% block content %}
    <div class = "listado_vacunas">
        <form action="index.php" method="POST">
            {{lista_vacunas()}}
        </form>  
    </div>
{% endblock %}