{% extends 'inicio_logueado.twig' %}

{% block content %}  
    <h2>Cuaderno de bitácora del sistema </h2>
    <div class="log_sistema">
        {% if datos_log != "False" %}
            {% if n_peticiones > 0 %}
                {% for log in datos_log %}
                    <P>FECHA: {{ log.Fecha }}</P>
                    <p>SUCESO: {{ log.Descripcion }}</p>
                {% endfor %}
            {% else %}
                <h2>No hay información disponible.</h2>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}