{% extends 'inicio_logueado.twig' %}

{% block content %}
    <h2>Cuaderno de bitácora del sistema </h2>
    {% if datos_log != "False" %}
        {% if n_peticiones > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Suceso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in datos_log %}
                        <tr>
                            <td>{{ log.Fecha }}</td>
                            <td>{{ log.Descripcion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No hay información disponible.</h2>
        {% endif %}
    {% endif %}

{% endblock %}